body{
    width: 100vw;
}

#navbarCountries{
    border-color: transparent;
    border: none;
    margin: 0;
    flex-flow: column;
    
    
}
.collapse{
    border-color: transparent;
    border: transparent;    
}

.navbar-toggler{
    width: 100px;
}